body {
    text-align: center;
    background: #00001C;
    color: white;
    margin: 0 30px 0 30px;
    font-family: Courier, Monospace;
}
p {
    margin: 30px 0;
    line-height: 20px;
}
a {
    color: #AABEFF;
    text-decoration: none;
    font-weight: bold;
}
div {
    margin: 30px auto;
    text-align: left;
    max-width: 800px;
}
canvas {
    display: block;
    background: #AABEFF;
    border-radius: 20px;
    -moz-border-radius: 20px;
    margin: 10px auto;
}
textarea {
    display: block;
    width: 100%;
    height: 150px;
    margin: 0 0;
}
td {
    padding-bottom: 0.5em;
}

.first-column {
    min-width: 200px;
}
.center {
    text-align: center;
}
.centerelement {
    margin: auto;
}
.error {
    display: block;
    color: red;
    font-size: 28px;
    line-height: 30px;
    padding: 30px;
}